<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body style="background: black;color: white;">
    <style>
        .box{
            border: 2px solid white;
            position: absolute;
            left: 35%;
            top: 20%;
            font-size: 2rem;
            color:green;
        }
    </style>
    <div class="box" style="border: 2px solid white;">
        <h1>You are Accessed !</h1>
    </div>
    
</body>
</html>